  ul {
    display: inline-block;
    vertical-align: top;
    padding-left: 10px;
  }
  li {
    list-style: none;
  }
  h6 {
    display: inline-block;
    vertical-align: top;
  }
  a {
    text-decoration: underline;
  }
  td{
    white-space:nowrap
  }
  th{
    white-space:nowrap
  }
  #aligned-table:last-child {
    width:100%;
    text-align: right;
    white-space:normal;
  }
  #btncolor{
    border:2px solid #4e6096;
    border-radius: 13px;
  }