
<section>
    <!-- <h3>Net Worth C${{myNetWorth[2] | currency:'C$'}}</h3> -->
    <div class="row">
        <div class="col">
            <h3>Net Worth {{myNetWorth[2] |currency:'C$'}}</h3>
        </div>
        <div class="col">
            <h3>Cash Flow is {{totalCashFlow |currency:'C$'}}</h3>
        </div>
    </div>
</section>
<hr/>
<section>
    <div class="row">
        <div class="col-6">
                <ngx-charts-advanced-pie-chart 
                    [view]="[650,300]"
                    [results]="incomeData"
                    [gradient]="true" 
                    [label] = "'Income'"
                    [valueFormatting]="addCurrencySymbol">
                </ngx-charts-advanced-pie-chart>
            </div>
        <div class="col-6">
                <ngx-charts-advanced-pie-chart 
                    [view]="[650,300]"
                    [results]="expenseData"
                    [label] = "'Expenses'"
                    [gradient]="true" 
                    [valueFormatting]="addCurrencySymbol" >
                </ngx-charts-advanced-pie-chart>
            <br/>
        </div>
    </div>
</section>

